.menu { 
}

.title {
    width: 25vw;
    height: auto;
}

.gameContainer {
    display: flex;
    height: 80vh;
    background-image: url('./assets/red-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

.leftContainer {
    /* border: 2px solid red; */
    width: 50%;
    padding: 5px;
}

.rightContainer {
    /* border: 2px solid blue; */
    width: 50%;
    padding: 5px;
}

.rightProfile {
    display: flex;
    justify-content: flex-end;
}

.selectionDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(33, 118, 22); */
    height: 90%
}

.userPick {
    width: 70%;
}

.headOverlay {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;

    display: flex;
    flex-direction: row;
    /* horizontal */
    gap: 9vw;
    align-items: center;
}

.timer {
    color: rgb(0, 0, 0);
    text-shadow:
        -2px -2px 0 white,
        2px -2px 0 white,
        -2px 2px 0 white,
        2px 2px 0 white;
    font-size: 45px;
    font-weight: bolder;
}

.stars img {
    width: 50px;
    margin-right: 5px;
    margin-left: 5px;
}

.choiceOverlay {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.overlayBtn {
    background: linear-gradient(to bottom, #590404, #000000);
    border: 1px solid rgba(217, 217, 217, 0.5);
    box-shadow: 0 0 12px rgba(188, 132, 132, 0.8);
    border-radius: 40px;
    overflow: hidden;
    padding: 0;
    width: 120px;
    height: 120px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    transition: transform 0.2s ease;
}

.overlayBtn img {
    width: 120px;
    height: auto;
    object-fit: cover;
}

.overlayBtn:hover {
    transform: scale(1.05);
}

.lockContainer {
    position: absolute;
    top: 109%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.lockBtn {
    width: 6rem;
    background: linear-gradient(to bottom, #590404, #000000);
    border: 1px solid rgba(217, 217, 217, 0.5);
    box-shadow: 0 0 12px rgba(188, 132, 132, 0.8);
    border-radius: 3px;
}

.lockBtn:hover {
    background: linear-gradient(to bottom, #542323, #000000);
    cursor: pointer;
}

.lobbyCode {
    position: absolute;
    bottom: 6%;
    left: 18%;
    color: white;
}